.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(48, 48, 46, 1);
  padding: 1.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.profileImgCard {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #b5d4f4;
}

.profileImg {
  font-size: 2rem;
  color: #0c447c;
  font-weight: 600;
}

.profileText {
  text-align: start;
}

.profileField {
  margin-top: 2px;
  color: rgba(194, 192, 182, 1);
}

.profileLocationJoin {
  color: rgba(156, 154, 146, 1);
  font-size: 13px;
  margin-top: 2px;
}
